---
title: "Relaso CRM - Homepage"
layout: default
hero-paragraph: "Our all-in-one platform empowers you to effortlessly organize customer data, streamline communication,
and nurture relationships—all from one easy-to-use hub. Say goodbye to chaos and hello to clarity."
---

<section class="main-hero-section">
  <div class="column1 left">
    <div class="chip-container">
      <div class="chip"></div>
    </div>
    <div class="hero-text">
      CRM Software that's&nbsp;<span class="gradient-text flexible-text-animate"
        >flexible,&nbsp;</span
      >not frustrating.
    </div>
    <div>
      <p class="header-sub-para">{{ page.hero-paragraph }}</p>
    </div>
    <div>
      <div class="action-buttons-container">
        <a href="#try-free" class="filled-btn">Try for free</a>
        <a href="#watch-video" id="openVideoBtn" class="outline-btn"
          ><i class="fa-regular fa-circle-play"></i>&nbsp;&nbsp;Watch Video</a
        >
      </div>
    </div>
  </div>
  <div class="column2 right">
    <div class="illustrations-container">
      <img
        class="hero-illustration"
        src="assets/images/undraw_add_information_j2wg.svg"
        alt="Illustration"
      />
      <div class="video-container plyr__video-embed" id="player">
        <iframe
          src="https://www.youtube.com/embed/cMIZ35_mOXg?si=3NzWuYNkzrlmWjj4"
          title="Introduction to Relaso"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          allow="autoplay"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<!-- The Modal for the video -->
<div id="videoModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe
      id="relaso-crm-video"
      src="https://www.youtube.com/embed/qmfJJ_lWpyM"
      title="Relaso CRM Overview"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>

<section class="client-companies">
  <div class="happy-customers-heading">
    <h3>Used daily by 500&plus; brilliant companies</h3>
  </div>
  <div class="companiy-logos">
    {% for client in site.data.happy_clients %} <div class="logo-container" {%
    if client.color=='white' %}style="filter: invert(1);" {% endif %}>
    <img
      class="happy-clients-logo"
      src="{{ client.logo }}"
      alt="{{ client.name }}"
      title="{{ client.name }}"
    />
  </div>
  {% endfor %}
</section>

<section class="features-section">
  <div class="features-header section-header">
    <div class="chip"></div>
    <div class="heading">
      <h3 class="heading-text">
        Accelerate your path to closed deals with Relaso CRM.
      </h3>
    </div>
    <div class="feature-summary">
      <p class="header-sub-para">
        Relaso offers a seamless all-in-one solution, enabling effortless
        customer data organization, efficient communication management, and
        relationship nurturing—all from an intuitive platform. Key features
        include:
      </p>
    </div>
  </div>
  <div class="feature-cards cards-container">
    {% for feature in site.data.primary_features %}
    <div class="card">
      <div class="card-icon"><i class="{{feature.fa_icon_class}}"></i></div>
      <div class="card-title"><h4>{{feature.title}}</h4></div>
      <div class="card-description"><p>{{feature.description}}</p></div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="areasWeServe">
  <div class="section-header">
    <div class="heading">
      <h3 class="heading-text">
        Enhance your business efficiency with Relaso suite of products.
      </h3>
    </div>
    <div class="areasWeServeParagraph">
      <p class="header-sub-para">
        Whether you're looking to optimize customer relationship management
        (CRM), streamline operations, or enhance sales and support workflows,
        our products are designed for seamless integration and maximum
        efficiency.
      </p>
    </div>
  </div>

  <div class="product-cards cards-container">
    {% for product in site.data.products %}
    <a href="{{product.site_link}}">
      <div class="card">
        <div class="card-icon"><i class="{{product.fa_icon_class}}"></i></div>
        <div class="card-title"><h4>{{product.title}}</h4></div>
        <div class="card-description"><p>{{product.description}}</p></div>
        <!-- <a href="#" class="outline-btn bookDemoBtn">Book a demo</a> -->
      </div>
    </a>

    {% endfor %}
  </div>
</section>

<script defer>
  const isSmallScreen = window.innerWidth < 768;
  document.addEventListener("DOMContentLoaded", function () {
    gsap.defaults({
      ease: "power4.in",
      duration: 1,
    });
    gsap.timeline({ defaults: { ease: "power4.in" } });

    if (!isSmallScreen) {
      gsap.to(".flexible-text-animate", {
        scaleX: 1.1, // Stretch horizontally (150%)
        scaleY: 0.9,
        opacity: 1,
        duration: 0.3, // Duration of the stretch
        ease: "power1.out", // Easing for smoother transition
        yoyo: true, // Animate back to original size
        repeat: 1, // Infinite loop
        // delay: 3,
      });

      gsap.from(".hero-illustration", {
        duration: 0.9,
        opacity: 0,
      });

      const shakeTimeline = gsap.timeline({ repeat: -1, repeatDelay: 4 });
      const illustrationVideoAnimate = gsap.timeline({
        repeat: 1,
        repeatDelay: 4,
        onComplete: () => {
          document.querySelector(".video-container").style.display = "flex";
          document.querySelector(".hero-illustration").style.display = "none";
          const player = new Plyr("#player", {enabled: true, autoplay: true});
          window.player = player;
        },
      });

      shakeTimeline.to(".action-buttons-container .filled-btn", {
        y: -16, // Move the button 10px horizontally
        scale: 1.02,
        rotate: -3,
        duration: 0.1, // Short duration for each shake movement
        ease: "power1.inOut", // Smooth transition
        yoyo: true, // Move back to original position
        repeat: 5, // Shake back and forth 5 times
      });

      illustrationVideoAnimate.to(".hero-illustration", {
        y: -13, // Move the button 10px horizontally
        scale: 1.02,
        rotate: -4,
        duration: 0.1, // Short duration for each shake movement
        ease: "power1.inOut", // Smooth transition
        yoyo: true, // Move back to original position
        repeat: 4, // Shake back and forth 5 times
      });
    }
  });
  // Get elements
  const modal = document.getElementById("videoModal");
  const btn = document.getElementById("openVideoBtn");
  const span = document.getElementsByClassName("close")[0];

  btn.onclick = function () {
    modal.style.display = "flex"; // Change to flex to center it
  };

  span.onclick = function () {
    modal.style.display = "none"; // Hide the modal again
  };
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
