---
title: "Relaso CRM - Homepage"
layout: default
hero-paragraph: "Our all-in-one platform empowers you to effortlessly organize customer data, streamline communication,
and nurture relationships—all from one easy-to-use hub. Say goodbye to chaos and hello to clarity."
permalink: '/'
---

<section class="main-hero-section">
  <div class="column1 left">
    <div class="chip-container">
      <div class="chip"></div>
    </div>
    <div class="hero-text">
      The CRM Software that's&nbsp;<span
        class="gradient-text flexible-text-animate"
        >flexible,&nbsp;</span
      >not frustrating.
    </div>
    <div>
      <p class="main-header-sub-para header-sub-para">
        {{ page.hero-paragraph }}
      </p>
    </div>

    <div>
      <div class="action-buttons-container">
        <div class="call-to-action-btns-container">
          <a
            href="{{ site.data.hero_slides[0].pricing_link }}"
            class="filled-btn pricing-link"
            >Try for free</a
          >
          <a href="#watch-video" id="openVideoBtn" class="outline-btn"
            ><i class="fa-regular fa-circle-play"></i>&nbsp;&nbsp;Watch Video</a
          >
        </div>

        <div class="slide-change-btn-container">
          <button class="prev-slide">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button class="next-slide">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="column2 right">
    <div class="illustrations-container">
      <img loading="lazy"         class="hero-illustration"
        src="{{ site.data.hero_slides[0].illustration_img | relative_url}}"
        alt="Illustration"
      />
      <div class="video-container plyr__video-embed" id="player">
        <iframe
          src="{{ site.data.hero_slides[0].video_url }}"
          title="Introduction to Relaso"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="aspect-ratio: 16 / 9"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="client-companies">
  <div class="happy-customers-heading">
    <h3>Used daily by 500&plus; brilliant users</h3>
  </div>
  <div class="companiy-logos">
    {% for client in site.data.happy_clients %} <div class="logo-container" {%
    if client.color=='white' %}style="filter: invert(1);" {% endif %}>
    <img loading="lazy"       class="happy-clients-logo"
      src="{{ client.logo | relative_url}}"
      alt="{{ client.name }}"
      title="{{ client.name }}"
    />
  </div>
  {% endfor %}
</section>

<section class="features-section">
  <div class="features-header section-header">
    <div class="chip"></div>
    <div class="heading">
      <h3 class="heading-text">
        Accelerate your path and close more deals with Relaso CRM
      </h3>
    </div>
    <div class="feature-summary">
      <p class="header-sub-para">
        Relaso offers a seamless all-in-one solution, enabling effortless
        pipeline management, efficient deal management, and relationship
        nurturing—all from an intuitive platform. <br />Key features include:
      </p>
    </div>
  </div>
  <div class="feature-cards cards-container">
    {% for feature in site.data.primary_features %}
    <div class="card">
      <div class="card-icon"><i class="{{feature.fa_icon_class}}"></i></div>
      <div class="card-title"><h4>{{feature.title}}</h4></div>
      <div class="card-description"><p>{{ feature.description}}</p></div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="areasWeServe">
  <div class="section-header">
    <div class="heading">
      <h3 class="heading-text">
        Enhance your business efficiency with Relaso suite of products.
      </h3>
    </div>
    <div class="areasWeServeParagraph">
      <p class="header-sub-para">
        Whether you're looking to optimize customer relationship management
        (CRM), streamline operations, or enhance sales and support workflows,
        our products are designed for seamless integration and maximum
        efficiency.
      </p>
    </div>
  </div>

  <div class="product-cards cards-container">
    {% for product in site.data.products %}
    <a href="{{product.site_link}}">
      <div class="card">
        <div class="card-icon"><i class="{{product.fa_icon_class}}"></i></div>
        <div class="card-title"><h4>{{product.title}}</h4></div>
        <div class="card-description">
          <p>{{product.description | truncate:200 }}</p>
        </div>
        <!-- <a href="#" class="outline-btn bookDemoBtn">Book a demo</a> -->
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<!-- The Modal for the video -->
<div id="videoModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="video-container plyr__video-embed" id="player">
      <iframe
        id="relaso-crm-video"
        src="https://www.youtube.com/embed/qmfJJ_lWpyM"
        title="Relaso CRM Overview"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<script defer>
  const isSmallScreen = window.innerWidth < 768;
  document.addEventListener("DOMContentLoaded", function () {


    const player = new Plyr("#player", { enabled: true, autoplay: false });
    window.player = player;
    const playerInModal = new Plyr("#playerInModal", { enabled: true, autoplay: false });
    window.playerInModal = playerInModal;


    gsap.defaults({
      ease: "power4.in",
      duration: 1,
    });
    gsap.timeline({ defaults: { ease: "power4.in" } });

    if (!isSmallScreen) {
      gsap.to(".flexible-text-animate", {
        scaleX: 1.1, // Stretch horizontally (150%)
        scaleY: 0.9,
        opacity: 1,
        duration: 0.3, // Duration of the stretch
        ease: "power1.out", // Easing for smoother transition
        yoyo: true, // Animate back to original size
        repeat: 1, // Infinite loop
        // delay: 3,
      });

      gsap.from(".hero-illustration", {
        duration: 0.9,
        opacity: 0,
      });

      const shakeTimeline = gsap.timeline({ repeat: -1, repeatDelay: 4 });
      // const illustrationVideoAnimate = gsap.timeline({
      //   repeat: 1,
      //   repeatDelay: 4,
      //   onComplete: () => {
      //     document.querySelector(".video-container").style.display = "flex";
      //     document.querySelector(".hero-illustration").style.display = "none";


      //     gsap.delayedCall(3, revertIllustrationAnimation);
      //   },
      // });

      // function revertIllustrationAnimation(){
      //   document.querySelector(".video-container").style.display = "none";
      //   document.querySelector(".hero-illustration").style.display = "flex";
      // }

      shakeTimeline.to(".action-buttons-container .filled-btn", {
        y: -16, // Move the button 10px horizontally
        scale: 1.07,
        rotate: -3,
        duration: 0.3, // Short duration for each shake movement
        ease: "power1.inOut", // Smooth transition
        yoyo: true, // Move back to original position
        repeat: 5, // Shake back and forth 5 times
      });

      illustrationVideoAnimate.to(".hero-illustration", {
        y: -13, // Move the button 10px horizontally
        scale: 1.02,
        rotate: -4,
        duration: 0.1, // Short duration for each shake movement
        ease: "power1.inOut", // Smooth transition
        yoyo: true, // Move back to original position
        repeat: 4, // Shake back and forth 5 times
      });
    }
  });



  ////// slideshow //////

   // Access slides data and convert it to a JavaScript object
   const slides = {{ site.data.hero_slides | jsonify }};

   // Debugging output to make sure slides data is loaded correctly
   console.log("Slides data:", slides);

    if (slides && slides.length > 0) {
      // Selecting the relevant elements
      // const heroIllustration = document.querySelector('.hero-illustration');
      const videoIframe = document.querySelector('#relaso-crm-video');
      const heroText = document.querySelector('.hero-text');
      const headerSubPara = document.querySelector('.main-header-sub-para');
      const pricingLink = document.querySelector('.pricing-link');


      const slideAnimationDelaySeconds = 12;
      let currentIndex = 0;


      function updateSlide() {
        if (window.innerWidth < 768) return; //if small screen
        // Move to the next slide in the array
        currentIndex = (currentIndex + 1) % slides.length;
        const nextSlide = slides[currentIndex];

        if (nextSlide) {
          // GSAP animation: fade out the content, change it, then fade back in
          gsap.to('.hero-text, .main-header-sub-para', {
            x: -200, // Slide content out to the left
            opacity: 0,
            duration: 0.5,
            onComplete: () => {
              // Update the content
              // heroIllustration.src = nextSlide.illustration_img;
              // videoIframe.src = nextSlide.video_url;
              heroText.innerHTML = nextSlide.title;
              headerSubPara.textContent = nextSlide.subtitle;
              pricingLink.setAttribute('href', nextSlide.pricing_link);

              // Slide new content in from the right
              gsap.fromTo(' .hero-text, .main-header-sub-para', { x: 200, opacity: 0,}, { x: 0, opacity: 1, duration: 0.5, });
            },
          });
        } else {
          console.error("Next slide is undefined.");
        }
      }

      function updateToPreviousSlide() {
        if (window.innerWidth < 768) return;
        // Move to the next slide in the array
        currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        const nextSlide = slides[currentIndex-1];

        if (nextSlide) {
          // GSAP animation: fade out the content, change it, then fade back in
          gsap.to('.hero-text, .main-header-sub-para', {
            x: 200, // Slide content out to the left
            opacity: 0,
            duration: 0.3,
            onComplete: () => {
              // Update the content
              // heroIllustration.src = nextSlide.illustration_img;
              // videoIframe.src = nextSlide.video_url;
              heroText.innerHTML = nextSlide.title;
              headerSubPara.textContent = nextSlide.subtitle;

              // Slide new content in from the right
              gsap.fromTo(' .hero-text, .main-header-sub-para', { x: -200, opacity: 0,}, { x: 0, opacity: 1, duration: 0.3, });
            },
          });
        } else {
          console.error("Next slide is undefined.");
        }
      }
      setInterval(updateSlide, (slideAnimationDelaySeconds*1000));

      document.querySelector('.next-slide').addEventListener('click', () => {
          updateSlide();
      });
      document.querySelector('.prev-slide').addEventListener('click', () => {
          updateToPreviousSlide();
      });
    } else {
      console.error("Slides data is not available or empty.");
    }
</script>

<script src="assets/js/videoModalOpenClose.js" defer></script>
