<footer>
  <div class="footer-container">
    <div class="footer-column fc-1">
      <h3>Head Office:</h3>
      <div class="fc" style="display: flex;">
        <i class="fa fa-map-marker-alt"></i>
        <address class="address">
          87E/1, Selimpur Rd, <br />
          Dhakuria, Naskar Para, <br />
          Garfa, Kolkata, <br />
          West Bengal 700031
        </address>
      </div>
      <p>
        <i class="fa fa-phone-alt"></i
        ><a href="tel:+918274897500">+91 82748 97500</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i
        ><a href="mailto:marketing@relaso.com">marketing@relaso.com</a>
      </p>
    </div>

    <div class="footer-column fc-2">
      <h3>Quick links:</h3>
      <div class="footer-links">
        {% for item in site.data.footer-links1 %}
        <a href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
       
      </div>
    </div>

    <div class="footer-column fc-3">
      <h3>Blog Posts:</h3>
      <div class="footer-links">
           
        {% for post in site.posts limit: 8 %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
        <!-- <br><br>
        <hr>
        <br>
        <h3>More links:</h3>
        {% for item in site.data.footer-links2 %}
        <a href="{{item.link}}">{{item.name}}</a>
        {% endfor %} -->

      </div>
    </div>
    
  </div>

 

  <div class="footer-column fc-4">
    <h3>Newsletter:</h3>
    <p class="news-letter-text">
      At Relaso, we understand the dedication and effort your sales team puts in
      every day. That’s why we’ve developed a CRM tailored specifically for
      sales professionals. With intuitive, powerful tools, you can effortlessly
      track leads, nurture customer relationships, and close deals more
      efficiently. <br /><br />Stay ahead by subscribing to our newsletter and
      be the first to know about our latest product launches!
    </p>
    <br />

    <form action="#">
      <input
        class="text-field"
        type="email"
        placeholder="Enter your email here"
      />
      <a type="submit" href="#" class="filled-btn">Subscribe</a>
    </form>
  </div>

  <button id="backToTop" title="Back to top" class="back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
  </button>
</footer>
<script src="{{ baseurl }}/assets/js/smoothScroll.js"></script>
<script defer>
    backToTop("backToTop");
</script>