<nav class="main-navbar">
  <div class="logo-container"><a href="/">
    <img src="{{ '/assets//images/relaso-logo-full.png' | relative_url }}" alt="Relaso Logo">
    <!-- <h4 class="gradien-text">elaso</h4> -->
      <!-- <h4><span class="logo-start">Rela</span><span class="logo-end">so</span></h4> -->
    </a></div>
<!-- Navigation links for Desktop -->
<div class="navigation-links">
  <ul class="nav-links-container">
    {% for item in site.data.navigation %}
      <li>
        {% if item.dropdown == 'true' %}
          <!-- Parent link for dropdown -->
          <a href="{{ item.link }}" class="has-dropdown {% if page.url == item.link %}current-tab{% endif %}" data-toggle="dropdown">
            {{ item.name }}
          </a>

          <!-- Dropdown items -->
          <ul class="dropdown-menu">
            {% for subitem in site.data[item.data] %}
              <li>
                <a href="{{ subitem.site_link }}" {% if page.url == subitem.site_link %}class="current-tab"{% endif %}>
                  {{ subitem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>

        {% else %}
          <!-- Regular link without dropdown -->
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current-tab"{% endif %}>
            {{ item.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>


  <div class="try-free-btn">
    <a href="/pricing" class="filled-btn">Try for free</a>
  </div>
</nav>

<nav>
  <div class="navbar">
    <div class="logo-container">
      <a href="/">
          <img src="{{ '/assets//images/relaso-logo-full.png' | relative_url }}" alt="Relaso Logo">
      </a>
    </div>
    
    <div class="menu-button">
      <button id="menu-toggle" aria-label="Toggle Menu">
        <i class="fa-solid fa-bars-staggered menu-icon"></i>
      </button>
    </div>
    
    <div class="navigation-links-mobile" id="mobile-menu">
      <ul class="nav-links-container">
        {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" {% if page.url==item.link %}class="current-tab" {% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<script defer>
  // Function to change navbar style on scroll
  window.onscroll = function() {
      const nav = document.querySelector('nav.main-navbar');
      if (window.scrollY > 80) { // Change '100' to any pixel value you prefer
          nav.classList.add('scrolled');
      } else {
          nav.classList.remove('scrolled');
      }
  };
</script>

<script defer>

  document.getElementById('menu-toggle').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    if (menu.style.display === 'block') {
      menu.style.display = 'none';
    } else {
      menu.style.display = 'block';
    }
  });
</script>


<script defer>

document.addEventListener('DOMContentLoaded', function () {
  var dropdownToggles = document.querySelectorAll('[data-toggle="dropdown"]');

  dropdownToggles.forEach(function (toggle) {
    console.log("Dropdown toggle found:", toggle); // Check if dropdowns are being detected

    toggle.addEventListener('click', function (e) {
      e.preventDefault();
      console.log("Dropdown clicked:", this); // Check if the click event is firing

      var dropdownMenu = this.nextElementSibling;
      dropdownMenu.classList.toggle('active');
    });
  });
});

</script>