@use "mixins/breakpoints";
@use "base/colors";


html {
  background: rgb(178, 166, 255);
  background: linear-gradient(
    30deg,
    rgba(100, 128, 255, 0.62) 4%,
    rgba(250, 253, 255, 0.671) 35%,
    rgba(181, 165, 255, 0.562) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 150vh;
  // animation: gradientAnimation 5s ease infinite; /* Infinite animation */
}

body {
  font-family: "Afacad Flux", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  @include breakpoints.for-phone-only {
    padding: 0 1rem;
  }

  em {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
  }
}

section {
  padding: 3rem 0rem 5rem 0rem;
  border-bottom: 1px solid rgba(216, 171, 255, 0.61);
  @include breakpoints.for-tablet-landscape-down {
    padding: 1rem 0rem;
    gap: 1rem !important;
  }
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  @include breakpoints.for-tablet-landscape-down {
    width: 100%;
  }
}

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  height: 65px;
  width: 65px;
  display: none;
  background-color: colors.$accent-color-dark;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  box-shadow: 2px 2px 10px colors.$accent-color;

  &:hover {
    background-color: colors.$accent-color;
  }
}
