@use "../base/colors";
@use "../mixins/breakpoints";

.blogs-container {
  margin: 3rem 5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include breakpoints.for-tablet-landscape-down{
    gap: 0.2rem;
    margin: -1rem 0 0 0 !important;

    .post-category {
      .gradient-text{
        font-size: 1.5rem;
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    align-items: center;
  
    h3 {
      border-right: 1px solid black;
      padding-right: 2rem;
    }
  
    ul.categories-container {
      list-style: none;
      display: flex;
      gap: 1rem;
      
  
      li {
        border: 2px solid colors.$accent-color-lighter;
        background-color: colors.$accent-color-lightest;
        text-wrap: nowrap;
        padding: 0.3rem 1rem;
        border-radius: 8rem;
      }
    }
  }

  .tags-container{
    display: flex;
    flex-wrap: wrap;
    .tag {
      border-width: 2px;
      a{
        text-wrap: nowrap;
      }
    }
    @include breakpoints.for-tablet-landscape-down{
      flex-wrap: nowrap;
      overflow: scroll;
      scrollbar-width: none;     /* Firefox */
      padding: 0rem 0 1rem 0;
      width: calc(100vw - 4rem);

      .tag {
        background: rgba(255, 255, 255, 0.712);
        border: 1px solid black !important;
        a {
          padding: 0rem 1rem;
          font-size: 1.1rem;
        }
      }
    }
    
    
  }


  @include breakpoints.for-tablet-landscape-down {
    ul.posts-container {
      height: auto !important;
      padding: 0;
      overflow: scroll !important;
      // scrollbar-width: none;     /* Firefox */
      scroll-snap-type: x mandatory; // Enable horizontal scroll snap
      scroll-behavior: smooth; // Smooth scrolling effect
      gap: 1rem !important;
      flex-wrap: nowrap;
    
      a {
        flex-basis: 15rem !important;
      }

      .card{
        min-height: 27rem;
        scroll-snap-align: start; 
        padding: 0.6rem !important;
        
        .article-container{
          .post-poster{
            height: 9rem !important;
          }
          .post-title {
            font-size: 1.2rem;
          }
          .post-excerpt{
            font-size: 1rem;
          }
        }

      }
    }
    .categories {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 0;
      overflow: scroll;
      scrollbar-width: none;     /* Firefox */
      
      .categories-container{
        padding-bottom: 1rem;
        display: flex;
        overflow: scroll !important;
        width: calc(100vw - 2rem);
        scrollbar-width: none;     /* Firefox */


      }

      h3 {
        border: none;
      }
    }
  }

  ul.posts-container {
    padding: 1rem 0 1.2rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    overflow: hidden;

    @include breakpoints.for-tablet-landscape-down {
      padding-left: 0;
      li.card {
        height: auto;
      }
    }

    a {
      color: colors.$accent-color;
      flex-shrink: 0;
      flex-basis: 20rem;
    }

    li.card {
      background-color: colors.$background-light-alpha;
      gap: 0.6rem !important;
      border-radius: 1rem;
      height: 32rem;
      overflow: hidden;

      @include breakpoints.for-tablet-landscape-down {
        max-width: 100%;
        height: auto;
      }

      &:hover .post-title {
        color: colors.$accent-color;
      }

      img.post-poster {
        width: 100%;
        height: 13rem;
        object-fit: cover;
        border-radius: 0.8rem;
        border: 2px solid rgb(220, 213, 226);
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.733);
      }

      .post-title {
        font-weight: bold;
        color: black;
      }

      .post-excerpt {
        font-weight: 300;
        color: black !important;
      }

      .post-date,
      .post-author-text {
        color: gray;
        font-size: 1rem;
      }
    }
  }
}

.posts-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-position: bottom;
}



.post-category {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .scroll-btns-container {
    button {
      background: colors.$accent-color-lightest;
      color: black;
      font-weight: bold;
      border: none;
      border-radius: 4rem;
      height: 2.6rem;
      width: 3.4rem;
      font-size: 0.9rem;
      cursor: pointer;
      text-align: center;
  
      &:hover {
        background: colors.$accent-color-lighter;
        box-shadow: 0px 0px 4px colors.$accent-color-light;
      }
    }
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.3rem 2rem;
  width: 96%;

  .chip {
    padding: 0.3rem 0.6rem;
    border: 2px solid rgb(211, 199, 216);

    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    box-sizing: border-box;
    transition: 0.1s ease;

    &:hover{ 
      font-weight: bold;
      letter-spacing: 0.04px;
      border: 2px solid black;
    }
  }
}