$accent-color           : #6851ff;
$accent-color-light     : #8674ff;
$accent-color-lightest  : #b9aeff;
$accent-color-dark      : #432fca;
$secondary-color        : orangered;
$background-color       : #f8f9fa;
$background-dark        : #231d42b7;
$background-light-alpha : rgba(255, 255, 255, 0.315);